.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
}

.cart__title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4rem;
    text-decoration: underline;
    margin: 5rem auto;
}

.cart__table {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    margin: 5rem 0;
    background: #e3fcff40;;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid #ffffff2e;
}

.cart__table--total {
    margin-top: 5rem;
}

.cart__table--btn_container {
    display: flex;
    justify-content: space-around;
}

.cart__table--btn {
    font-family: 'Poppins', sans-serif;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin: 2rem auto;
}
