/* Style Cards Productos */

.card_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem 1rem;
    padding-bottom: .5rem;
    width: 15rem;
    border: deeppink .5px outset;
    /* border-radius: 50px 100px 50px 100px; */
    background: linear-gradient(snow, #cce1ae, #fff);
}


.btn_agregar {
    width: 70%;
}