/* Style Cards Productos */

.card_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    border: 2px outset;
    border-image: linear-gradient(#fbff14, #e40808) 1;
    background: linear-gradient(snow, #d7d7d7);
}

.btn_agregar {
    width: 100%;
}