/* Import */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Marvel:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

/* font-family: 'Fredericka the Great', cursive;
font-family: 'Marvel', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Poppins', sans-serif; */

html {
  scroll-behavior: smooth;
}


body {
  text-align: center;
  background: url(https://img.freepik.com/fotos-premium/bola-amarilla-piso-detras-red-paddle-cancha-azul-al-aire-libre-hombre-que-juega-al-padel-jugador-caucasico-deportista-golpeando-pelotas-concepto-juego-deporte-raqueta_352173-3719.jpg);
  color: snow;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
